<ion-view title="Adicionar Horas">
  <ion-content class="padding">
    <form>
	    <label class="item item-input item-select">
		    <div class="input-label">
		    	Tarefa
		    </div>
		    <select ng-model="form.tarefa" 
		    	ng-options="tarefa.doc.name for tarefa in tarefas">
		    </select>
	    </label>
    	<label class="item item-input">
    		<input ng-model="form.horas" ng-init="horas=0"type="number" placeholder="Horas" >
    	</label>
		<label class="item item-input">
			<input type="text" placeholder="Selecione Uma data" ng-model="form.datepicker" 
				name="datepicker" ng-click="opendateModal()" 
				readonly>
        </label>
    </form>
    <h4>Total de horas: {{selectedTarefa.horas}}</h4>
    <button ng-click="adicionaHoras()" class="button">Adicionar</buttom>
  </ion-content>
</ion-view>
